<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Chatty</h1>
    <a mat-button *ngIf="authService.loggedIn()" routerLink='/global' routerLinkActive="active">Global Chatroom</a>
    <span class="menu-spacer"></span>
    <a mat-button *ngIf="!authService.loggedIn()" routerLink='/register' routerLinkActive="active">Register</a>
    <a mat-button *ngIf="!authService.loggedIn()" routerLink='/login' routerLinkActive="active">Login</a>
    <a mat-button *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
